<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLIM</title>

    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <h1>GLIM</h1>
        <p>%status%</p>
    </header>


    <main>
        <div>
            <input type="file" id="stlFile" accept=".stl" onchange="loadStlFile()">
            <p id="resultSurface"></p>
            <p id="resultBounds"></p>
        </div>
        <hr>
        <h2>Settings</h2>
        <select>
            <optgroup label="Metric">
                <option value="meter">Meter</option>
                <option value="decimeter">Decimeter</option>
                <option value="centimeter">Centimeter</option>
                <option value="milimeter">Milimeter</option>
            </optgroup>
            <optgroup label="Imperial">
                <option value="inch">Inch</option>
            </optgroup>
        </select>
        <!-- 
            Voor elke 0,25 cm^2 geld 0.375 A
            voor elke cm^2 geld 1.5 A
        -->

        <p>Recomended: <span id="current"></span></p>
        <hr>
        <button>Start</button>
    </main>

    <script src="three.min.js"></script>
    <script src="STLLoader.js"></script>
    <script src="main.js"></script>
</body>
</html>
