:root {
    --NeutralColor: #fff;
    --TintetNeutralColor: #eee;
    --MainColor: #0000ff;
    --AccentColor: #11a8ff;
}

body {
    margin: 0;
}

header {
    background-color: var(--AccentColor);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

header h1 {
    margin: 0;
}


main {
    background-color: var(--NeutralColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main hr {
    width: 100%;
}

canvas#CurveEditor {
    border: 1px solid black
}